Source: ros-hydro-grizzly-description
Section: misc
Priority: extra
Maintainer: Yan Ma <yanma@clearpathrobotics.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-grizzly-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-joint-state-publisher, ros-hydro-robot-state-publisher, ros-hydro-roscpp, ros-hydro-rospy, ros-hydro-std-msgs, ros-hydro-urdf, ros-hydro-xacro
Description: grizzly_description package to hold urdf and related model files
